<div class="my-text-center">
{% include("It2kFOSUserTemplatesBundle::user_btn.html.twig") %}
</div>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-signin" role="form">
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
