<div class="my-text-center">
    {% include("It2kFOSUserTemplatesBundle::user_btn.html.twig") %}
</div>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-signin" role="form">
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
